<ion-view view-title="请输入密码" id="bankCardPassword">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div id="bankCardPasswordContent">


            <div class="chooseBankCardContent">
                <div class="top">
                    <span class="content">232.90&nbsp;<span>元</span></span>
                    <span class="title">使用招商银行储蓄卡(2777)付款</span>
                </div>
                <div class="bankCardPasswordInput">
                    <input type="password" />
                </div>
            </div>








            <div class="submitBtn">
                <button type="submit" class="button button-block" ng-click="submit(product)">去支付</button>
            </div>


        </div>
    </ion-content>

</ion-view>