<ion-view view-title="选择银行卡" id="chooseBankCard">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div id="chooseBankCardContent">
            <div class="safety">
                <span>您正在安全支付环境中，请放心付款</span>
            </div>

            <div class="chooseBankCardContent">
                <div class="top">
                    <span class="title">付款金额</span>
                    <span class="content">232.90&nbsp;<span>元</span></span>
                </div>
                <div class="bottom">
                    <div>
                        <span class="left">收款方</span>
                        <span class="right">社区商城</span>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <span class="left">商&nbsp;&nbsp;品</span>
                        <span class="right">订单号1234567890</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>






            <div class="paymentItems">
                <div class="paymentItem bankCard">
                    <div class="text">
                        <span class="ctitle">招商银行储蓄卡(尾号777)</span>
                    </div>
                    <i class="icon ion-chevron-right arrowP"></i>
                </div>


            </div>

            <div class="submitBtn">
                <button type="submit" class="button button-block" ng-click="submit(product)">去支付</button>
            </div>


        </div>
    </ion-content>

</ion-view>