<ion-view view-title="发表评价" id="comment">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="moveToMyOrderPage()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <div class="comment_up">

                </div>
                <div class="comment_down">

                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>