<ion-view view-title="投诉及建议" id="complaintPage" ng-controller="complaintPageCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="complaintView">
            <ion-list>
                <ion-item class="mediumBlank">
                    大连XXX123号楼01-123
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goComplaintDetails()">
                    <div>
                        <div>投诉意见内容1</div>
                        <div>3天前</div>
                        <div class="haveSolved">已解决</div>
                    </div>
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goComplaintDetails()">
                    <div>
                        <div>投诉意见内容2</div>
                        <div>3分钟前</div>
                        <div class="notSolved">未处理</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goNewComplaintPage()">新投诉</button>
        </div>

    </ion-content>
</ion-view>