<ion-view view-title="新邀请" id="generateQRCode">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="generateQRCodeView" style="height:{{whiteAreaHeight}}">
            <div class="qrClass" style="height:{{contentHeight}};padding:{{paddingPX}};padding-bottom: 0px;">
                <div id="outputQR" ></div>
                <div class="textUnderQR">
                    <p>大连XXX号楼1单元</p>
                </div>
                <div class="visitorInfo">
                    <p><span>有效期至：</span><span>2016-05-05 00:00:00</span></p>
                    <p><span>访客姓名：</span><span>{{name}}</span></p>
                    <p><span>性别：</span><span>{{sex}}</span></p>
                </div>
            </div>
            <div style="height: 50px;">{{len}}</div>
        </div>
    </ion-content>
    <ion-footer-bar class="repairDetailsFooter">
        <div>保存到相册</div>
        <div>分享到微信</div>
    </ion-footer-bar>
</ion-view>