<ion-view id="homeView">
    <ion-content>
        <ion-slide-box auto-play="true" slide-interval="2500">
            <ion-slide ng-repeat="slide in slides">
                <img src="{{slide.url}}" height="{{slideHeight}}" width="{{slideWidth}}"/>
            </ion-slide>
        </ion-slide-box>

        <div class="advertisements">
            <div class="community_advertise" ng-click="goAdvertise('0')">
                <p class="pp1">社区公告</p>
                <p class="pp2">社区大事第一时间公布</p>
                <div class="ion-ios-glasses-outline glass"></div>
            </div>
            <div class="others">
                <div class="collections" ng-click="goAdvertise('1')">
                    <p class="pp1">活动召集令</p>
                    <p class="pp2">提供各种活动</p>
                </div>
                <div class="discuss" ng-click="goAdvertise('2')">
                    <p class="pp1">议事厅</p>
                    <p class="pp2">各种生活乐事</p>
                </div>
                <div class="comprehensive" ng-click="goAdvertise('3')">
                    <p class="pp1">社区精彩回顾</p>
                    <p class="pp2">社区精彩活动回顾艳照</p>
                    <div class="ion-clipboard iconPosition"></div>
                </div>
            </div>
        </div>

        <div class="hotTitle">
            <span>热门商品</span>
            <span class="more">更多</span>
            <span class="ion-chevron-right moreArrow"></span>
        </div>

        <ion-list>
            <ion-item>
               <div class="product_div" ng-repeat="pro in hotProducts">
                   <img src="{{pro.productImg}}" class="productItem_img"/>
                   <div>{{pro.description}}</div>
                   <p>￥{{pro.price}}</p>
               </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>