<ion-view view-title="房屋租售" id="houseSaleAndRent" ng-controller="houseSaleAndRentCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="houseSaleAndRentView">
            <ion-list>
                <ion-item class="mediumBlank">
                    大连XXX123号楼01-123
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goSaleOrRentDetails()">
                    <div>
                        <div>房屋租售内容1</div>
                        <div>3天前</div>
                        <div class="haveSolved">已完成</div>
                    </div>
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goSaleOrRentDetails()">
                    <div>
                        <div>房屋租售内容2</div>
                        <div>3分钟前</div>
                        <div class="notSolved">未完成</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goNewAskForSaleOrRent()">新租售</button>
        </div>

    </ion-content>
</ion-view>