<ion-view view-title="房屋租售" id="houseSaleAndRent">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="houseSaleAndRentView">
            <ion-list>
                <ion-item class="mediumBlank">
                    大连XXX123号楼01-123
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-repeat="item in items" ng-click="goSaleOrRentDetails(item)">
                    <div>
                        <div>{{item.content}}</div>
                        <div>3天前</div>
                        <div class="haveSolved" ng-if="item.currentStatus == 'handled'" >已解决</div>
                        <div class="notSolved" ng-if="item.currentStatus == 'handling'" >处理中</div>
                        <div class="notSolved" ng-if="item.currentStatus == 'accept'" >已接受</div>
                        <div class="notSolved" ng-if="item.currentStatus == 'new'" >未处理</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goNewAskForSaleOrRent()">新租售</button>
        </div>

    </ion-content>
</ion-view>