<ion-view view-title="登录" id="login" ng-controller="loginCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="right">
            <button class="registBtn" ng-click="regist()">注册</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="loginView">
            <ion-list>
                <ion-item class="bigBlankLine">
                </ion-item>
                <ion-item>
                    <input type="text" placeholder=" 手机" ng-model="inputPhoneNum"/>
                </ion-item>
                <ion-item>
                    <input type="text" placeholder=" 密码" ng-model="inputPassword"/>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="loginToMainPage()">登录</button>
        </div>
        <div class="retrievePassword" ng-click="retrievePassword()">
            <button ng-click="">找回密码</button>
        </div>

    </ion-content>
</ion-view>
