<ion-view view-title="相关报修">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="newAskForRepairView">
            <div class="smallBlankLine"></div>
            <div class="textAreaStyle">
                <textarea rows="8" cols={{textAreaCols}} placeholder="请输入问题详情,以便我们更好的处理"></textarea>
            </div>
            <div class="bigBlankLine">添加图片</div>
            <!--<div class="selectPicOrOpenCamera">-->
                <!--<div class="selectPicOrOpenCameraPic" ng-click=""></div>-->
            <!--</div>-->
            <div class="addNews_div">
                <div class="addNews_box" ng-if="showAddImgFlag" ng-click="takePhoto()">
                    <span class="ion-ios-plus-empty"></span>
                </div>
                <img ng-src="{{imageSrc}}" class="img_part_style" ng-if="!showAddImgFlag"/>
            </div>
            <div class="submitBtnBackground" style="height: {{submitBtnBackgroundHeight}};background-color: #EFEFF4">
                <div class="submitBtn">
                    <button type="submit" class="button button-block" ng-click="submitNewRepair()">提交</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>