<ion-view view-title="新投诉及建议" ng-controller="newComplaintPageCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="newAskForRepairView">
            <div class="smallBlankLine"></div>
            <div class="textAreaStyle">
                <textarea rows="8" cols={{textAreaCols}} placeholder="请在此处填写您的宝贵意见..."></textarea>
            </div>
            <div class="bigBlankLine">添加图片</div>
            <div class="selectPicOrOpenCamera">
                <div class="selectPicOrOpenCameraPic" ng-click=""></div>
            </div>

            <div class="submitBtnBackground" style="height: {{submitBtnBackgroundHeight}};background-color: #EFEFF4">
                <div class="submitBtn">
                    <button type="submit" class="button button-block" ng-click="">发送</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>