<ion-view view-title="待付款订单" id="paymentOrder">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="moveToAboutPage()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="notfound">
            <div class="not_content">
                <p><span class="title">您还没有相关的订单</span><br /><span class="title">去挑几件好货吧!</span></p>
            </div>
        </div>
        <div class="payContent">
            <div class="payTop">
                <i class="icon ion-ios-box-outline payBox"></i>
                <span class="payText">社区商城自营</span>
                <i class="icon ion-chevron-right payRight" ></i>
                <span class="payTextRight">等待付款</span>
            </div>
            <ion-list>
               <ion-item  ng-repeat="shoppingCar in shoppingCarList">
                   <div class="shoppingItem">
                       <div class="shoppingImg">
                           <img class="shopChangeImg" src="{{shoppingCar.img}}">
                       </div>
                       <div class="shopText">
                           <div class="shopTextP">
                               <p>{{shoppingCar.name}}</p>
                           </div>
                           <div class="shopTextSpan">
                               <span>型号：</span><span>{{shoppingCar.type}}</span>
                           </div>
                       </div>
                       <div class="clear"></div>
                   </div>
               </ion-item>

                <div class="listBottom">
                    <div class="listBottomSpan">
                        <span>共</span><span>{{shoppingCarList.length}}</span><span>件商品</span> <span>实付款：</span> <span>{{totalPrice | currency:"￥"}}</span>
                    </div>
                </div>
            </ion-list>
            <div class="payBottom">
                <button class="button buttonLeft" data-ng-click="cancelOrder()">取消订单</button>
                <button class="button buttonRight" data-ng-click="submit()">去支付</button>

            </div>
        </div>

    </ion-content>

</ion-view>