<ion-view id="propertyManagement">
    <ion-content>
        <div class="propertyManagementView">
            <ion-list>
                <div style="with:100%;height:{{picHeight}};background: url('./img/propertyManagementPic.jpg') no-repeat;background-size: 100%; "></div>
                <div class="smallBlankLine"></div>
                <ion-item ng-click="gotoSelectHouseInfo('fee')">
                    <div>
                        <span>物业缴费</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                    <!--<div class="rightIcon"></i></div>-->
                </ion-item>
                <ion-item ng-click="gotoSelectHouseInfo('repair')">
                    <div>
                        <span>相关报修</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
                <ion-item ng-click="gotoSelectHouseInfo('rent')">
                    <div>
                        <span>房屋租售</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
                <div class="smallBlankLine"></div>
                <ion-item ng-click="showConfirm()">
                    <div>
                        <span>拨打物业电话</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
                <ion-item ng-click="gotoSelectHouseInfo('visit')">
                    <div>
                        <span>访客通行证</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
                <div class="smallBlankLine"></div>
                <ion-item ng-click="gotoComplaintPage()">
                    <div>
                        <span>投诉</span>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>