<ion-view view-title="我发表的主题" id="publishTheme">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="moveToAboutPage()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="pubTheme in pubThemes">
                <img src="{{pubTheme.descriptionImg}}" class="message_icon"/>
                <span class="message_people">{{nickName}}</span>
                <div class="message_content">{{pubTheme.content}}</div>
                <img src="{{pubTheme.picName}}" class="message_picture" width="{{message_picture_width}}"/>
                <span class="messgae_time">{{pubTheme.createTime}}</span>
                <span class="ion-ios-chatbubble-outline message_leaveMessage" ng-click="goMessageDetail(pubTheme)"></span>
                <span class="ion-ios-heart-outline message_like" ng-click="goMessageDetail(pubTheme)"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>