<ion-view view-title="我发表的主题" id="publishTheme">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="moveToAboutPage()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="new in communityNews">
                <img src="{{new.descriptionImg}}" class="message_icon"/>
                <span class="message_people">{{new.name}}</span>
                <div class="message_content">{{new.detail}}</div>
                <img src="{{new.descriptionImg}}" class="message_picture" width="{{message_picture_width}}"/>
                <span class="messgae_time">2016-05-05 00:00</span>
                <span class="ion-ios-chatbubble-outline message_leaveMessage" ng-click="goMessageDetail()"></span>
                <span class="ion-ios-heart-outline message_like" ng-click="goMessageDetail()"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>