<ion-view view-title="注册" ng-controller="secondRegistPageCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="registView">
            <ion-list>
                <ion-item>
                    <div class="progressBar">
                        <span style="color:#FC5E5E">1.输入手机号</span>
                        &nbsp<span> > </span>&nbsp
                        <span style="color:#FC5E5E">2.输入验证码</span>
                        &nbsp<span> > </span>&nbsp
                        <span>3.设置个人信息</span>
                    </div>
                </ion-item>
                <div class="smallBlankLine"></div>
                <ion-item>
                    <input type="text" placeholder="请输入验证码" ng-model="inputCaptcha"/>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goThirdRegistPage()">设置个人信息</button>
        </div>
    </ion-content>
</ion-view>