<ion-view view-title="物业费缴纳" ng-controller="selectLocationToPayPropertyCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="selectLocationToPayView">
            <ion-list>
                <ion-item class="bigBlankLine">
                    请选择需要缴费的房屋
                </ion-item>
                <div ng-repeat="group in groups">
                    <ion-item ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                        {{group.name}}小区{{group.childs[0].period}}期{{group.childs[0].building}}号楼{{group.childs[0].unit}}单元
                        <i class="icon" ng-class="isGroupShown(group) ? 'icon ion-chevron-up' : 'icon ion-chevron-down'"></i>
                    </ion-item>
                    <ion-item ng-repeat="list in group.childs" class="item-accordion" ng-show="isGroupShown(group)">
                    {{group.name}}小区{{list.period}}期{{list.building}}号楼{{list.unit}}单元{{list.floor}}层{{list.number}}号
                    </ion-item>
                </div>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goShowBalancePage()">去缴费</button>
        </div>
    </ion-content>
</ion-view>