<ion-view view-title="ShopProductDetail">

        <ion-tabs id="ShopProductDetail" class=" tabs-striped tabs-top" >
            <ion-tab title="商品" >
                <ion-view >
                    <ion-content>
                       1
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="详细" >
                <ion-view>
                    <ion-content>
                        2
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="评论" >
                <ion-view>
                    <ion-content>
                        3
                    </ion-content>
                </ion-view>
            </ion-tab>

             <a class="tab-item tabLeft" data-ng-click="moveToNextPage()">
                 <i class="icon ion-chevron-left"></i>
             </a>
         </ion-tabs>


</ion-view>