<ion-view view-title="Shop" id="shop">
    <ion-content>
        <div id="shopView">
            <div id="shopLeftNav">
                <ion-list class="list">
                    <ion-item class="item" ng-class="{active: navListType == navList.productCategoryId}" ng-repeat="navList in navLists" ng-click="clickNav(navList.productCategoryId);">
                        <span>{{navList.productCategoryName}}</span>
                    </ion-item>
                </ion-list>
            </div>

            <div class="shopViewContent">
                <!--<div id="shopBanner">-->
                        <!--<img src="{{ShopBanner[0].img}}" alt="" />-->
                    <!--</div>-->
                <ion-slide-box auto-play="true" slide-interval="2500">
                    <ion-slide ng-repeat="slide in slides" ng-click="moreProduct()">
                        <img src="{{slide.url}}" height="{{slideHeight}}" width="{{slideWidth}}"/>
                    </ion-slide>
                </ion-slide-box>
                <ion-list class="list">
                    <ion-item class="item" ng-repeat="product in products" ng-click="goProductDetail(product.productId)">
                        <div class="productItem">
                            <img ng-src={{product.picName}}>
                            <!--<img src="{{product.img}}"/>-->
                            <span>{{product.productName}}</span>
                            <span class="productPrice">￥{{product.price}}</span>
                        </div>
                    </ion-item>
                    <div class="clear"></div>
                </ion-list>


            </div>
            <div class="clear"></div>
        </div>
    </ion-content>
</ion-view>