<ion-view view-title="提交订单" id="shoppingCar">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item  class="item-checkbox">
                <div class="shoppingItem">
                    <div class="shoppingImg">
                        <img class="shopChangeImg" src="img/a.jpg">
                    </div>
                    <div class="shopText">
                        <div class="shopTextP">
                          <p>泰国金枕头进口新鲜榴莲1个装4-9斤新鲜水果2kg-2.5kg</p>
                        </div>
                        <div class="shopTextSpan">
                            <span>型号：</span><span>2.5kg(不含)-3.5kg(含)</span>
                        </div>
                        <div class="shopTextPrice">
                            <span>￥158.00</span>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <ion-option-button class="button-delete icon ion-ios-trash-outline" ng-click="deleteItem(intent.intentCode)"></ion-option-button>
            </ion-item>
            <ion-item  class="item-checkbox">
                <div class="shoppingItem">
                    <div class="shoppingImg">
                        <img class="shopChangeImg" src="img/b.jpg">
                    </div>
                    <div class="shopText">
                        <div class="shopTextP">
                            <p>泰国金枕头进口新鲜榴莲1个装4-9斤新鲜水果2kg-2.5kg</p>
                        </div>
                        <div class="shopTextSpan">
                            <span>型号：</span><span>2.5kg(不含)-3.5kg(含)</span>
                        </div>
                        <div class="shopTextPrice">
                            <span>￥158.00</span>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <ion-option-button class="button-edit icon ion-ios-compose-outline" ng-click="editIntent(intent.itemName,$index)">
                </ion-option-button>
                <ion-option-button class="button-delete icon ion-ios-trash-outline" ng-click="deleteIntent($index)">
                </ion-option-button>
            </ion-item>
            <ion-item  class="item-checkbox">
                <div class="shoppingItem">
                    <div class="shoppingImg">
                        <img class="shopChangeImg" src="img/c.jpg">
                    </div>
                    <div class="shopText">
                        <div class="shopTextP">
                            <p>泰国金枕头进口新鲜榴莲1个装4-9斤新鲜水果2kg-2.5kg</p>
                        </div>
                        <div class="shopTextSpan">
                            <span>型号：</span><span>2.5kg(不含)-3.5kg(含)</span>
                        </div>
                        <div class="shopTextPrice">
                            <span>￥158.00</span>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                <ion-option-button class="button-edit icon ion-ios-compose-outline" ng-click="editIntent(intent.itemName,$index)">
                </ion-option-button>
                <ion-option-button class="button-delete icon ion-ios-trash-outline" ng-click="deleteIntent($index)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar >

        <div class="total">
            <span>合计：</span><span class="totalPrice">￥232.90</span>
        </div>
        <div class="has-badge">
            <button class="buttonSub" data-ng-click="submit()">去结算<i class="badge">(3)</i></button>
        </div>

    </ion-footer-bar>
</ion-view>