<ion-view view-title="访客邀请" id="visitorPassport">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="visitorPassportView">
            <ion-list>
                <ion-item class="mediumBlank">
                    大连XXX123号楼01-123
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-repeat="item in items" ng-click="gotoQRPage(item)">
                    <div>
                        <div>{{item.name}}</div>
                        <div>有效期至：{{item.endDate}}</div>
                        <div class="haveSolved" ng-if="item.status == 'working'">生效中</div>
                        <div class="notSolved" ng-if="item.status == 'cancel'">已作废</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="gotoNewVisitorInvite()">+新邀请</button>
        </div>

    </ion-content>
</ion-view>