<ion-view view-title="访客邀请" id="visitorPassport" ng-controller="visitorPassportCtrl">
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left" >
            <i class="icon ion-chevron-left arrowP" ng-click="back()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="visitorPassportView">
            <ion-list>
                <ion-item class="mediumBlank">
                    大连XXX123号楼01-123
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goRepairDetails()">
                    <div>
                        <div>张三</div>
                        <div>有效期至：2016年05月05日 00:00:00</div>
                        <div class="haveSolved">生效中</div>
                    </div>
                </ion-item>
                <ion-item class="listInRelatedRepairs" ng-click="goRepairDetails()">
                    <div>
                        <div>张三</div>
                        <div>有效期至：2016年05月05日 00:00:00</div>
                        <div class="notSolved">以作废</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="submitBtn">
            <button type="submit" class="button button-block" ng-click="goNewAskForRepair()">+新邀请</button>
        </div>

    </ion-content>
</ion-view>