html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  min-width: 320px;}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

html {
  height: 100%;
  overflow: hidden; }

body {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", Helvetica, sans-serif, Arial;
  background: #fbfbfb;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

input,
textarea {
  outline: none;
  border-radius: 0;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", Helvetica, sans-serif, Arial; }

a {
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none; }



/* footer */
.clear{
  float:none;
  clear:both;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
  color: #FC5E5E;
}
.ion-ios-home-outline:before,
.ion-ios-person-outline:before {
  font-weight: bold;
}
.ion-ios-person-outline:before{
  font-size: 40px;
  margin-top: -3px;
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: #777;
}
/*===DomesticCtrl===*/
#Domestic a.tabRight{
  position: absolute;
  right: 0px;
  color: #f40;
}

#Domestic1 .installTab span{
margin-left: 16px;
}

#Domestic1 a.tabLeft{
  position: absolute;
  left: 6px;
  color: #f40;
}


#Domestic a.tabRight i, #Domestic1 a.tabLeft i{
font-size: 24px;
}

#domesticTab .tabs-top > .tabs,#domesticTab .tabs.tabs-top{
  top: 0px;
}

#Domestic1 .tabs{
  top: 0px;
}

#Domestic a.tab-item.tab-item-active, #Domestic a.tab-item.active, #Domestic a.tab-item.activated,#Domestic1 a.tab-item.tab-item-active, #Domestic1 a.tab-item.active, #Domestic1 a.tab-item.activated{
  color: #4E4C4C;
  border-bottom-color: #FC5E5E;
}

#Domestic .has-tabs-top,#Domestic1 .has-tabs-top {
  top: 53px;
}

#Domestic .tab-item{
  font-size: 18px;
}

#Domestic1 .tab-item{
  font-size: 18px;
  max-width: 162px;
}

#Domestic .item, #Domestic1 .item {
  margin: -3px;
  padding: 0px;
  height: 165px;
  border-style: none;
}

#Domestic .item-thumbnail-left, #Domestic .item-thumbnail-left .item-content, #Domestic1 .item-thumbnail-left, #Domestic1 .item-thumbnail-left .item-content{
  min-height: 160px;

}

#Domestic .dem, #Domestic1 .dem{
  width: 100%;
  min-width: 320px;
  position: relative;
}

#Domestic .domImg, #Domestic1 .domImg{
  /*padding:25px 16px;*/
  /*float: left;*/
  position: absolute;
  top: 20px;
  left: 20px;
}
#Domestic .domImg .changeImg, #Domestic1 .domImg .changeImg{
  width: 160px;
  height: 120px;
}

#Domestic .domImg .fixImg, #Domestic1 .domImg .fixImg{
  position: absolute;
  left: -15px;
  width: 75px;
  top: 48px;

}

#Domestic .domText, #Domestic1 .domText{
  padding-top: 10px;
  padding-left: 190px;

}

#Domestic .domTextLine, #Domestic1 .domTextLine{
  height: 140px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #ddd;


}

#Domestic .domText span, #Domestic1 .domText span{
  line-height: 35px;
  font-size: 18px;
}

#Domestic .domText p, #Domestic1 .domText p{
  line-height: 35px;
  font-size: 18px;
  overflow: inherit;
  text-overflow: clip;
  white-space: initial;
}

#Domestic .domesticBottom, #Domestic1 .domesticBottom{
  margin: 20px;
  height: 20px;
}

/*===DomesticCtrl1===*/
.domesticFooter .tab-item{
  color: #777;
}

.domesticFooter .active {
  color: #FC5E5E;
}
ion-view[id="homeView"],ion-view[id="addCommunity"]{
    background-color: #EFEFf4;
}

ion-view[id="homeView"] .advertisements{

    width: 100%;
    height: 150px;
    margin: 1% 0% 2% 0%;
}

.advertisements .community_advertise{
    width:42%;
    height: 150px;
    background-color: #FC5E5E;
    padding-top: 4%;
    padding-left: 5%;
}

.community_advertise .pp1,.collections .pp1,.discuss .pp1,.comprehensive .pp1{
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}

.community_advertise .pp2, .collections .pp2,.discuss .pp2,.comprehensive .pp2{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
}

.glass{
    color: #ffffff;
    font-size: 80px;
    padding-top: 4px;
}

.advertisements .others{
    position: relative;
    top: -150px;
    left: 42%;
    padding-left: 1.5%;
    width: 58%;
    height: 100%;
}

.others .collections{
    background-color: #FCCD1B;
    width: 49%;
    height: 49%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    padding-top: 6%;
    text-align: center;
}

.others .discuss{
    background-color: #40D3B7;
    position: relative;
    top: -51%;
    left: 51%;
    width: 49%;
    height: 49%;
    margin-bottom: 1.5%;
    padding-top: 6%;
    text-align: center;
}

.others .comprehensive{
    background-color: #6cc1ed;
    position: relative;
    top: -50%;
    width: 100%;
    height: 48%;
    padding-top: 6%;
    padding-left: 4%;
}

.iconPosition{
    color: #FFFFFF;
    font-size: 40px;
    position: relative;
    top: -38px;
    left: 70%;
}

.hotTitle{
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding-top: 11px;
    padding-left: 6%;
    margin-bottom: 1%;
}

.more{
    color: #8E8E8E;
    margin-left: 60%;
    font-size: 16px;
}

.moreArrow{
    color:#8E8E8E;
    font-size: 10px;
    margin-left: 2%;
}

.community_leftArrow{
    padding-left: 8px;
    padding-top: 8px;
}

.product_div{
    height:200px;
    width: 50%;
    float: left;
}

.product_div>div{
    width: 90%;
    height: 15px;
    font-size: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.product_div>p{
    font-size: 12px;
    color: #FC5E5E;
    margin-top: 5%;
}

.productItem_img{
    height: 64%;
    width: 80%;
    margin: 10% 10% 5% 10%;
}

.item{
    padding: 15px;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    color: #4E4C4C;
    border-bottom-color: #FC5E5E;
}

.ion_list_in_tabs{
    top: 93px;
}

.message_icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}


.message_people{
    font-size: 15px;
    line-height: 15px;
    display: block;
    position: relative;
    top: -25px;
    left: 50px;
}

.item{
    white-space: normal;
}

.message_content{
    font-size: 15px;
    line-height: 18px;
}

.message_picture{
    height: 200px;
    margin: 10px 0px;
}

.messgae_time{
    font-size: 10px;
}

.message_leaveMessage{
    float: right;
    font-size: 23px;
    margin-left: 10px;
}

.message_like{
    float: right;
    font-size: 23px;
}

/* Shop */
#shopView{
    position: relative;
    background-color: #EFEFF4;
}
#shopLeftNav{
    width: 76px;
}
#shopLeftNav .item.inactive{
    background-color: #FFF;
    color: #777777;
}
#shopLeftNav .item.active{
    background-color: #EFEFF4;
    color: #FC5E5E;
}

#shopLeftNav,
.shopViewContent{
    float: none;
}
#shopLeftNav .item{
    font-size: 12px;
    padding: 20px 14px;
    margin: 0;
    border: none;
    border-bottom: #C8C7CC solid 1px;
}
#shopLeftNav .item:last-child{
    border-bottom:none;
}
.shopViewContent{

    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px 0 86px;

}
.shopViewContent div.list{
    background-color: #FFF;
}
.shopViewContent .item{
    width: 50%;
    padding: 10px;
    border: none;
    float: left;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated{
    background-color: #EFEFF4;
}
#shopBanner{
    padding: 10px 0;
}
#shopBanner img{
    width: 100%;
}
.productItem{
    margin: 0 auto;
}
.productItem span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;

}
.productItem span.productPrice{
    color: #FC5E5E;
}
.productItem img{
    display: block;
    height: 100px;
    margin: 0 auto;
}

/* ShopProductDetail */
#ShopProductDetail a.tabLeft{
    position: absolute;
    left: 20px;
    color: #777;
}





#ShopProductDetail a.tabLeft i{
    font-size: 24px;
}

#ShopProductDetail a.tab-item.tab-item-active, #ShopProductDetail a.tab-item.active, #ShopProductDetail a.tab-item.activated,#ShopProductDetail a.tab-item.tab-item-active, #ShopProductDetail a.tab-item.active, #ShopProductDetail a.tab-item.activated{
    color: #000;
    border-bottom-color: #000;
}
#ShopProductDetail .tab-item{
    max-width: 60px;
    font-size: 16px;
}

ion-view[id="communityDetail"]{
    background-color: #EFEFf4;
}

.bar-assertive{
    height: 60px;
}

.bar.bar-assertive {
    background-color: #ffffff;
}

.comment_input{
    height: 40px;
    margin: 10px 10px;
    width: 70%;
    border-radius: 10px;
    border: solid 1px #c8c7cc;
}

.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(180deg, #FFFFFF, #c8c7cc 50%, transparent 50%);
    padding: 0px;
}

.submit_comment{
    background-color:#F23030 ;
    width: 30%;
    text-align: center;
}

.submit_comment span{
    font-size: 23px;
    line-height: 23px;
    display: block;
    margin-top: 13.5px;
}


/*
    Login and property management css
*/

/*Login page css*/
ion-header-bar.bar.bar-header {
    border-bottom: 1px solid #C8C7CC;
}
.registBtn{
    padding: 0px;
    border: none;
    background: none;
    color:#FC5E5E;
}
button.registBtn{
    font-size: 17px;
}
.loginView .list, .registView .list, .propertyManagementView .list, .selectLocationToPayView .list{
    padding:0px;
}
.loginView .item, .registView .item, .propertyManagementView .item,.selectLocationToPayView .item{
    border:1px solid #C8C7CC;
    border-left:none;
    border-right:none;
}
.loginView .item:first-child, .registView .item:first-child, .propertyManagementView .item:first-child{
    border-top: none;
}
.bigBlankLine{
    background: #EFEFF4;
    color:#777;
    /*margin: 0px;*/
    /*border: none;*/
}
.submitBtn{
    margin-top: 5%;
    padding-left:5% ;
    padding-right:5% ;
}
.submitBtn .button{
    background: #F23030;
    color: #ffffff;
}
.retrievePassword{
    float:right;
    margin-right:5%;
}
.retrievePassword button{
    color:#FC5E5E;
    border: none;
    background: none;
}


/*Regist and retrieve page css*/
.arrowP{
    font-size: 20px;
    padding-left: 12px;
    margin-right: 10px;
    display: block;
    padding-top: 8px;
}
.smallBlankLine{
    background: #EFEFF4;
    height:15px;
}
.progressBar span{
    font-size: 12px;
}
/*.registView .list*/
/*.registView .item*/
.registView .item-radio input:checked + .radio-content .item-content{
    background-color: #fff;
    color:#FC5E5E;
}
.registView .item-radio input:checked + .radio-content .radio-icon{
    color:#FC5E5E;
    padding: 2px;
}
.registView .item.selectSex label{
    border: none;
}
.registView label.item.item-radio {
    padding: 0px;
}
.registView .item.selectSex{
    border-left: none;
    border-right: none;
    width: 50%;
    float: left;
}
.registView .item.selectSex .item-content.disable-pointer-events{
    padding: 11px 49px 11px 4px;
    font-size: 14px;
}

/*Property management page*/
.propertyManagementView .ion-chevron-right, .selectLocationToPayView .ion-chevron-down, .selectLocationToPayView .ion-chevron-up{
    position: absolute;
    right: 20px;
}

/*Select Location to pay the property costs*/
.selectLocationToPayView .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    font-size: 14px;
}
.selectLocationToPayView .list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.selectLocationToPayView .list .item.item-accordion.ng-hide-add,
.selectLocationToPayView .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
.selectLocationToPayView .bigBlankLine{
    padding-bottom: 15px;
    padding-top: 40px;
}

/*show balance in the pay page*/
.showBalanceInPayPropertyView .blackAreaShowBalance{
    padding: 25px;
    background: #393939;
    color: #ffffff;
    text-align: center;
    border: none;
}
.showBalanceInPayPropertyView .blackAreaShowBalance div:nth-child(2){
    font-size: 60px;
    margin: 15px auto;
}
.showBalanceInPayPropertyView .payDateHistory, .relatedRepairsView .haveSolved{
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #1ECD1E;
}
.showBalanceInPayPropertyView .listInShowBalance,.relatedRepairsView .listInRelatedRepairs{
    padding: 0px;
}
.showBalanceInPayPropertyView .listInShowBalance div:nth-child(2),.relatedRepairsView .listInRelatedRepairs div:nth-child(2){
    font-size: 14px;
    color: #777;
}
.showBalanceInPayPropertyView .listInShowBalance div,.relatedRepairsView .listInRelatedRepairs div{
    margin: 10px;
}

/*Confirm start date and end date */
.confirmStartAndEndDateView .bigBlankLine{
    padding: 20px 16px;
}
.mediumBlank {
    background: #EFEFF4;
    color: #777;
    padding-top: 30px;
    padding-bottom: 10px;
}
.confirmStartAndEndDateView .bigBlankLine:last-child{
    padding-top: 10px;
    padding-left: 16px;
    border-bottom: none;
}

.relatedRepairsView .notSolved{
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #777;
}

.textAreaStyle{
    padding: 15px;
}
.newAskForRepairView .bigBlankLine {
    padding: 10px 15px;
}
.goodPart{
    height: 40px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border-top: solid 1px #c8c7cc;
    padding-top: 12px;
    padding: 12px 15px;
}

.goodPart .goodNum{
    font-size: 16px;
    line-height: 16px;
    color: #FD9090;
}

.community_detail_good_who{
    top: -40px;
    width: 45%;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.community_detail_good_time{
    font-size: 14px;
    line-height: 14px;
    position: relative;
    top: -57px;
    left: 65%;
    color: #B6B6B6;
}

.community_detail_good_time+div{
    position: relative;
    top: -45px;
    width: 80%;
    left: 50px;
    font-size: 15px;
}

.noBorderTop{
    border-top: none;
}

.add_comment_icon{
    height: 30px;
    font-size: 25px;
    top: 3px;
    color: #FF5c5a;
    left: 91%;
    position: absolute;
    z-index: 9;
}

.addCommunity_content{
    margin-top: 20px;
    height: 150px;
    width: 100%;
}

.addCommunity_content+p{
   margin-top: 10px;
   margin-left: 2%;
   font-size: 15px;
    color: #777777;
}

.addNews_div{
    margin-top: 10px;
    padding: 5%;
    width: 100%;
    background-color: #ffffff;
    height: 150px;
}

.addNews_box{
    height: 100%;
    border: solid 3px #DBD9CB;
    width: 35%;
}

.addNews_box span{
    font-size: 60px;
    color:#DBD9CB;
    padding: 3%;
}

.submitNews_button{
    height: 50px;
    width: 90%;
    margin: 10% 5%;
    border: none;
    background-color: #f23030;
    color: #FFFFFF;
    font-size: 20px;
}