html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  min-width: 320px;}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

html {
  height: 100%;
  overflow: hidden; }

body {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", Helvetica, sans-serif, Arial;
  background: #fbfbfb;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

input,
textarea {
  outline: none;
  border-radius: 0;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", Helvetica, sans-serif, Arial; }

a {
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none; }



/* footer */
.clear{
  float:none;
  clear:both;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
  color: #FC5E5E;
}
.ion-ios-home-outline:before,
.ion-ios-person-outline:before {
  font-weight: bold;
}
.ion-ios-person-outline:before{
  font-size: 40px;
  margin-top: -3px;
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: #777;
}

.alertPop .popup-head{
    padding: 0px;
}

.alertPop .popup-body{
    text-align: center;
    padding: 15px;
}
/*===DomesticCtrl===*/
#Domestic a.tabRight{
  position: absolute;
  right: 4px;
  color: #f40;
}

#Domestic1 a.tabLeft{
  position: absolute;
  left: 6px;
  color: #f40;
}


#Domestic a.tabRight i, #Domestic1 a.tabLeft i{
font-size: 24px;
}

#domesticTab .tabs-top > .tabs,#domesticTab .tabs.tabs-top{
  top: 0px;
  padding-right: 14px;
}

#Domestic1 .tabs{
  top: 0px;
  padding-left: 22px;
}

#Domestic a.tab-item.tab-item-active, #Domestic a.tab-item.active, #Domestic a.tab-item.activated,#Domestic1 a.tab-item.tab-item-active, #Domestic1 a.tab-item.active, #Domestic1 a.tab-item.activated{
  color: #4E4C4C;
  border-bottom-color: #FC5E5E;
}

#Domestic .has-tabs-top,#Domestic1 .has-tabs-top {
  top: 53px;
}

#Domestic .tab-item{
  font-size: 12px;
}

#Domestic1 .tab-item{
  font-size: 12px;
  max-width: 162px;
}

#Domestic .item, #Domestic1 .item {
  margin: -3px;
  padding: 0px;
  height: 140px;
  border-style: none;
}

#Domestic .item-thumbnail-left, #Domestic .item-thumbnail-left .item-content, #Domestic1 .item-thumbnail-left, #Domestic1 .item-thumbnail-left .item-content{
  min-height: 160px;

}

#Domestic .dem, #Domestic1 .dem{
  width: 100%;
  min-width: 320px;
  position: relative;
}

#Domestic .domImg, #Domestic1 .domImg{
  /*padding:25px 16px;*/
  /*float: left;*/
  position: absolute;
  top: 16px;
  left: 20px;
}
#Domestic .domImg .changeImg, #Domestic1 .domImg .changeImg{
  width: 120px;
  /*height: 120px;*/
}

#Domestic .domImg .fixImg, #Domestic1 .domImg .fixImg{
    position: absolute;
    left: -22px;
    width: 55px;
    top: 36px;
}

#Domestic .domText, #Domestic1 .domText{
  padding-top: 10px;
  padding-left: 150px;

}

#Domestic .domTextLine, #Domestic1 .domTextLine{
  height: 124px;
  padding-right: 2px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #ddd;


}

#Domestic .domText span, #Domestic1 .domText span{
  line-height: 25px;
  font-size: 14px;
}

#Domestic .domText p, #Domestic1 .domText p{
  line-height: 25px;
  font-size: 14px;
  overflow: inherit;
  text-overflow: clip;
  white-space: initial;
}

#Domestic .domesticBottom, #Domestic1 .domesticBottom{
  margin: 20px;
  height: 20px;
}

/*===DomesticCtrl1===*/
.domesticFooter .tab-item{
  color: #777;
}

.domesticFooter .active {
  color: #FC5E5E;
}
ion-view[id="homeView"],ion-view[id="addCommunity"]{
    background-color: #EFEFf4;
}

ion-view[id="homeView"] .advertisements{

    width: 100%;
    height: 150px;
    margin: 1% 0% 2% 0%;
}

.advertisements .community_advertise{
    width:42%;
    height: 150px;
    background-color: #FC5E5E;
    padding-top: 4%;
    padding-left: 5%;
}

.community_advertise .pp1,.collections .pp1,.discuss .pp1,.comprehensive .pp1{
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}

.community_advertise .pp2, .collections .pp2,.discuss .pp2,.comprehensive .pp2{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
}

.glass{
    color: #ffffff;
    font-size: 80px;
    padding-top: 4px;
}

.advertisements .others{
    position: relative;
    top: -150px;
    left: 42%;
    padding-left: 1.5%;
    width: 58%;
    height: 100%;
}

.others .collections{
    background-color: #FCCD1B;
    width: 49%;
    height: 49%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    padding-top: 6%;
    text-align: center;
}

.others .discuss{
    background-color: #40D3B7;
    position: relative;
    top: -51%;
    left: 51%;
    width: 49%;
    height: 49%;
    margin-bottom: 1.5%;
    padding-top: 6%;
    text-align: center;
}

.others .comprehensive{
    background-color: #6cc1ed;
    position: relative;
    top: -50%;
    width: 100%;
    height: 48%;
    padding-top: 6%;
    padding-left: 4%;
}

.iconPosition{
    color: #FFFFFF;
    font-size: 40px;
    position: relative;
    top: -38px;
    left: 70%;
}

.hotTitle{
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding-top: 11px;
    padding-left: 6%;
    margin-bottom: 1%;
}

.more{
    color: #8E8E8E;
    margin-left: 60%;
    font-size: 16px;
}

.moreArrow{
    color:#8E8E8E;
    font-size: 10px;
    padding-left: 2%;
}

.community_leftArrow{
    padding-left: 8px;
    padding-top: 8px;
}

.product_div{
    height:200px;
    width: 50%;
    float: left;
}

.product_div>div{
    width: 90%;
    height: 15px;
    font-size: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.product_div>p{
    font-size: 12px;
    color: #FC5E5E;
    margin-top: 5%;
}

.productItem_img{
    height: 64%;
    width: 80%;
    margin: 10% 10% 5% 10%;
}

.item{
    padding: 15px;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    color: #4E4C4C;
    border-bottom-color: #FC5E5E;
}

.ion_list_in_tabs{
    top: 93px;
}

.message_icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}


.message_people{
    font-size: 15px;
    line-height: 15px;
    display: block;
    position: relative;
    top: -25px;
    left: 50px;
}

.item{
    white-space: normal;
}

.message_content{
    font-size: 15px;
    line-height: 18px;
}

.message_picture{
    height: 200px;
    margin: 10px 0px;
}

.messgae_time{
    font-size: 10px;
}

.message_leaveMessage{
    float: right;
    font-size: 23px;
    margin-left: 10px;
}

.message_like{
    float: right;
    font-size: 23px;
}

/* Shop */
#shopView{
    position: relative;
    background-color: #EFEFF4;
}
#shopLeftNav{
    width: 76px;
}
#shopLeftNav .item.inactive{
    background-color: #FFF;
    color: #777777;
}
#shopLeftNav .item.active{
    background-color: #EFEFF4;
    color: #FC5E5E;
}

#shopLeftNav,
.shopViewContent{
    float: none;
}
#shopLeftNav .item{
    font-size: 12px;
    padding: 20px 14px;
    margin: 0;
    border: none;
    border-bottom: #C8C7CC solid 1px;
}
#shopLeftNav .item:last-child{
    border-bottom:none;
}
.shopViewContent{

    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px 0 86px;

}
.shopViewContent div.list{
    background-color: #FFF;
}
.shopViewContent .item{
    width: 50%;
    padding: 10px;
    border: none;
    float: left;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated{
    background-color: #EFEFF4;
}
#shopBanner{
    padding: 10px 0;
}
#shopBanner img{
    width: 100%;
}
.productItem{
    margin: 0 auto;
}
.productItem span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;

}
.productItem span.productPrice{
    color: #FC5E5E;
}
.productItem img{
    display: block;
    height: 100px;
    margin: 0 auto;
}

/* ShopProductDetail */
#ShopProductDetail a.tabLeft{
    position: absolute;
    left: 20px;
    color: #777;
}
#ShopProductDetail.tabs-top > .tabs,
#ShopProductDetail .tabs.tabs-top{
    top: 0;
}




#ShopProductDetail a.tabLeft i{
    font-size: 24px;
}

#ShopProductDetail a.tab-item.tab-item-active, #ShopProductDetail a.tab-item.active, #ShopProductDetail a.tab-item.activated,#ShopProductDetail a.tab-item.tab-item-active, #ShopProductDetail a.tab-item.active, #ShopProductDetail a.tab-item.activated{
    color: #000;
    border-bottom-color: #000;
}
#ShopProductDetail .tab-item{
    max-width: 60px;
    font-size: 16px;
}
/* Tab1 */
#productDetailTab1{
    background-color: #EFEFF4;
}
#productDetailTab1 .productImg{
    background-color: #fff;
    padding: 0;
}
#productDetailTab1 .productImg img{ display: block; height: 368px; margin: 0 auto;}

#ShopProductDetail .has-tabs-top{top: 48px;}
.productNameAndPrice,
.productType,
.productNum,
.productButtom{
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
}
.productNameAndPrice span{
    display: block;
    margin-bottom: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;

}
.productNameAndPrice span.productName{
    font-size: 14px;
    color: #000;
}
.productNameAndPrice span.productSubName{
    font-size: 12px;
    color: #FC5E5E;
}
.productNameAndPrice span.productPrice{
    font-size: 20px;
    color: #FC5E5E;
    margin-bottom: 0;
}
.productButtom div.productButtomLeft,
.productButtom div.productButtomRight{ width: 50%; height: 38px; float: left; padding: 0 0 0 5px;}
.productButtom div.productButtomLeft{ padding: 0 5px 0 0;}
.productButtom div button{ background-color: #FF4200; color: #fff; width: 100%; height: 100%; margin: 0; border: 0; font-size: 16px;}
.productButtom div.productButtomLeft button{ background-color: #FFE4CF; color: #E5511D;}
.productButtom div.productButtomRight i.ion-ios-cart{ font-size: 18px; margin-right: 5px;}

.productType,
.productNum{
    position: relative;
}
.productTypeLable,
.productNumLable{
    position: absolute;
}
.productTypeList,
.productNumList{
    padding-left: 80px;
}
.productTypeList .item-radio.item{
    float: left;
    font-size: 12px;
    padding: 4px;
    margin: 0 5px 5px 0;
}
.productTypeList .item-radio.item.active{
    background-color: #fff;
    border: 1px solid #FF4400;
    color: #FF4400;
}
.productNumDiv,
.productNumSpan{
    display: block;
    float: left;
}
.productNum input{
    float: left;
    border: 1px solid #999;
    color: #999;
    width: 30px;
    height: 20px;
    text-align: center;
}
.productNum .iconRight{
    float: left;
    text-align: center;
    color: #999;
    border: 1px solid #999;
    height: 20px;
    width: 24px;
    border-radius: 0px 3px 3px 0px;
}

.productNum .iconLeft{
    float: left;
    text-align: center;
    color: #999;
    border: 1px solid #999;
    height: 20px;
    width: 24px;
    border-radius: 3px 0px 0px 3px;
}
.productNumList .productNumSpan{
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
}
.productDetailText {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #990000;
}
.productDetailText p{
    margin-bottom: 10px;
}
.productDetailImg img{
    width: 100%;
}

/* Tab 3 */
.productComment{
    position: relative;
}
.productCommentTitle{
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
}
.productCommentType{
    padding: 10px 0;
    width: 25%;
    height: 44px;
    float: left;
}
.productCommentType.active{
    color: #FC5E5E;
}
.productCommentType span{
    display: block;
    text-align: center;
    font-size: 12px;

}
.productCommentType span.type{
    margin-bottom: 5px;

}
.productCommentType span.Num{

}

.productCommentMain{
    background-color: #EFEFF4;
    padding-top: 44px;
}
.itemTitle,
.itemMain{
    padding: 10px;
}
.productCommentItem{
    background-color: #fff;
    margin-top: 10px;
    border-top: 1px solid #C8C7CC;
    border-bottom: 1px solid #C8C7CC;
}
.productCommentItem .itemTitle{
    border-bottom: 1px solid #C8C7CC;
}
.productCommentItem .itemTitleLeft{
    float: left;
}
.productCommentItem .itemTitleRight{
    float: right;
}
.productCommentItem .itemTitleLeft img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
    border-radius: 15px;

}
.productCommentItem .itemTitleLeft span{
    font-size: 14px;
    line-height: 30px;
    float: left;

}
.productCommentItem .itemTitleRight{
    font-size: 14px;
    line-height: 30px;
}
.productCommentItem .itemMain .star{
    color: #FC5E5E;
    margin-bottom: 10px;
}
.productCommentItem .itemMain p{
    color: #000;
    font-size: 12px;
    margin-bottom: 20px;
}
.productCommentItem .itemMain span{
    display: block;
    color: #777777;
    font-size: 12px;
    margin-bottom: 10px;
}
.productCommentItem .itemMain span:last-child{
    margin-bottom: 0;
}

/* choosePaymentTermsContent */
#choosePaymentTerms{
    background-color: #EFEFF4;

}
#choosePaymentTermsContent{
    padding-top: 10px;

}
#choosePaymentTermsContent .title{
    background-color: #FFF;
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    border-bottom: 1px solid #C8C7CC;
}
#choosePaymentTermsContent .title span{
    display: block;
    height: 36px;
}
#choosePaymentTermsContent .title .left{
    float: left;
}
#choosePaymentTermsContent .title .right{
    float: right;
    color: #F23030;
}

.paymentItem{
    position: relative;
    background-color: #FFF;
    padding: 9px 40px 9px 50px;
    height: 50px;
    border-bottom: 1px solid #C8C7CC;
}
.paymentItem.weixin{
    background: #FFF url("../img/PaymentTermsIocn.png") no-repeat 0 0;
    
}

.paymentItem.zhifubao{
    background: #FFF url("../img/PaymentTermsIocn.png") no-repeat 0 -50px;

}
.paymentItem .text{
    font-size: 12px;
    color: #777777;
}
.paymentItem .text span{
    display: block;
}
.paymentItem .text .ctitle{
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}
.paymentItem i{
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 0;
    margin: 0;
}

/* chooseBankCard */
#chooseBankCard,
#bankCardPassword{
    background-color: #F2F2F2;

}


#chooseBankCard .safety{
    background-color: #F2F2F2;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #C8C7CC;
}
#chooseBankCard .safety span{
    display: inline-block;
    background: #F2F2F2 url("../img/safety.png") no-repeat 0 0;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    margin: 0 auto;
    padding-left: 20px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;

}
.chooseBankCardContent{
    padding: 0 20px;
    border-bottom: 1px solid #C8C7CC;
}
.chooseBankCardContent .top{
    padding: 25px 0;
    text-align: center;

}
.chooseBankCardContent .bottom{
    border-top: 1px dotted #C8C7CC;
    font-size: 12px;
    color: #777777;
    padding: 15px 0 5px 0;

}
.chooseBankCardContent .bottom div{
    margin-bottom: 10px;
    height: 12px;

}
.chooseBankCardContent .bottom span{
    display: block;

}
.chooseBankCardContent .bottom .left{
    float: left;
}
.chooseBankCardContent .bottom .right{
    float: right;
}
.chooseBankCardContent .top .title{
    display: block;
    margin-bottom: 10px;
    color: #777777;
    font-size: 16px;

}
.chooseBankCardContent .top .content{
    display: block;
    color: #000;
    font-size: 36px;
    font-weight: bold;

}
.chooseBankCardContent .top .content span{
    font-size: 14px;
    font-weight: normal;

}
.paymentItem.bankCard{
    padding: 9px 40px 9px 20px;
    height: 50px;
    border-bottom: 1px solid #C8C7CC;
}
.paymentItem.bankCard .text .ctitle{
    line-height: 32px;
}

/*  */
#PaymentTermsResultContent .chooseBankCardContent .top img{
    margin-bottom: 10px;
}
#PaymentTermsResultContent .chooseBankCardContent .top .title{
    color: #00C600;
}
#PaymentTermsResultContent .chooseBankCardContent .bottom{
    border-bottom: 1px dotted #C8C7CC;

}
#PaymentTermsResultContent .chooseBankCardContent{
    border-bottom:0;
}

/* bankCardPassword */
#bankCardPassword .chooseBankCardContent .top .title{
    margin-bottom: 0;
    margin-top: 10px;
}

#bankCardPassword .chooseBankCardContent .bankCardPasswordInput input{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: 40px;
    border: 1px solid #C8C7CC;
}
#bankCardPassword .chooseBankCardContent{
    border-bottom: 0;
}



ion-view[id="communityDetail"]{
    background-color: #EFEFf4;
}

.bar-assertive{
    height: 60px;
}

.bar.bar-assertive {
    background-color: #ffffff;
}

.comment_input{
    height: 40px;
    margin: 10px 10px;
    width: 70%;
    border-radius: 10px;
    border: solid 1px #c8c7cc;
}

.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(180deg, #FFFFFF, #c8c7cc 50%, transparent 50%);
    padding: 0px;
}

.submit_comment{
    background-color:#F23030 ;
    width: 30%;
    text-align: center;
}

.submit_comment span{
    font-size: 23px;
    line-height: 23px;
    display: block;
    margin-top: 18.5px;
}


/*
    Login and property management css
*/

/*Login page css*/
ion-view[id="login"],ion-view[id="regist"],ion-view[id="retrieve"],ion-view[id="propertyManagement"],ion-view[id="relatedRepairs"],ion-view[id="houseSaleAndRent"],ion-view[id="visitorPassport"],ion-view[id="complaintPage"],ion-view[id="newVisitorInvite"],ion-view[id="generateQRCode"]{
    background-color: #EFEFf4;
}
ion-header-bar.bar.bar-header {
    border-bottom: 1px solid #C8C7CC;
}
.registBtn{
    padding: 0px;
    border: none;
    background: none;
    color:#FC5E5E;
}
button.registBtn{
    font-size: 17px;
}
.loginView .list, .registView .list, .propertyManagementView .list, .selectLocationToPayView .list{
    padding:0px;
}
.loginView .item, .registView .item, .propertyManagementView .item,.selectLocationToPayView .item{
    border:1px solid #C8C7CC;
    border-left:none;
    border-right:none;
}
.loginView .item:first-child, .registView .item:first-child, .propertyManagementView .item:first-child{
    border-top: none;
}
.bigBlankLine{
    background: #EFEFF4;
    color:#777;
    /*margin: 0px;*/
    /*border: none;*/
}
.submitBtn{
    margin-top: 5%;
    padding-left:5% ;
    padding-right:5% ;
}
.submitBtn .button{
    background: #F23030;
    color: #ffffff;
}
.retrievePassword{
    float:right;
    margin-right:5%;
}
.retrievePassword button{
    color:#FC5E5E;
    border: none;
    background: none;
}


/*Regist and retrieve page css*/
.arrowP{
    font-size: 20px;
    padding-left: 12px;
    margin-right: 10px;
    display: block;
    padding-top: 8px;
}
.smallBlankLine{
    background: #EFEFF4;
    height:15px;
}
.progressBar span{
    font-size: 12px;
}
/*.registView .list*/
/*.registView .item*/
.registView .item-radio input:checked + .radio-content .item-content{
    background-color: #fff;
    color:#FC5E5E;
}
.registView .item-radio input:checked + .radio-content .radio-icon{
    color:#FC5E5E;
    padding: 5px;
}
.registView .item.selectSex label{
    border: none;
}
.registView label.item.item-radio {
    padding: 0px;
}
.registView .item.selectSex{
    border-left: none;
    border-right: none;
    width: 50%;
    float: left;
}
.registView .item.selectSex .item-content.disable-pointer-events{
    padding: 11px 49px 11px 4px;
    font-size: 14px;
}

/*Property management page*/
.propertyManagementView .ion-chevron-right, .selectLocationToPayView .ion-chevron-down, .selectLocationToPayView .ion-chevron-up{
    position: absolute;
    right: 20px;
}

/*Select Location to pay the property costs*/
.selectLocationToPayView ion-item.bigBlankLine.item, .relatedRepairsView ion-item.mediumBlank.item, .houseSaleAndRentView ion-item.mediumBlank.item, .visitorPassportView ion-item.mediumBlank.item, .complaintView ion-item.mediumBlank.item{
    border-top: none;
}
.selectLocationToPayView .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    font-size: 14px;
}
.selectLocationToPayView .list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.selectLocationToPayView .list .item.item-accordion.ng-hide-add,
.selectLocationToPayView .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
.selectLocationToPayView .bigBlankLine{
    padding-bottom: 15px;
    padding-top: 40px;
}
.selectedSiteInfo{
    display: none;
    margin-top: 5%;
    margin-left: 15px;
}

/*show balance in the pay page*/
.showBalanceInPayPropertyView .blackAreaShowBalance{
    padding: 25px;
    background: #393939;
    color: #ffffff;
    text-align: center;
    border: none;
}
.showBalanceInPayPropertyView .blackAreaShowBalance div:nth-child(2){
    font-size: 60px;
    margin: 15px auto;
}
.showBalanceInPayPropertyView .payDateHistory, .relatedRepairsView .haveSolved, .houseSaleAndRentView .haveSolved, .visitorPassportView .haveSolved, .complaintView .haveSolved{
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #1ECD1E;
}
.showBalanceInPayPropertyView .listInShowBalance,.relatedRepairsView .listInRelatedRepairs, .houseSaleAndRentView .listInRelatedRepairs, .visitorPassportView .listInRelatedRepairs, .complaintView .listInRelatedRepairs{
    padding: 0px;
}
.showBalanceInPayPropertyView .listInShowBalance div:nth-child(2),.relatedRepairsView .listInRelatedRepairs div:nth-child(2), .houseSaleAndRentView .listInRelatedRepairs div:nth-child(2), .visitorPassportView .listInRelatedRepairs div:nth-child(2), .complaintView .listInRelatedRepairs div:nth-child(2){
    font-size: 14px;
    color: #777;
}
.showBalanceInPayPropertyView .listInShowBalance div,.relatedRepairsView .listInRelatedRepairs div, .houseSaleAndRentView .listInRelatedRepairs div, .houseSaleAndRentView .listInRelatedRepairs div, .visitorPassportView .listInRelatedRepairs div, .complaintView .listInRelatedRepairs div{
    margin: 10px;
}

/*Confirm start date and end date */
.confirmStartAndEndDateView .bigBlankLine{
    padding: 20px 16px;
}
.mediumBlank {
    background: #EFEFF4;
    color: #777;
    padding-top: 20px;
    padding-bottom: 10px;
}
.confirmStartAndEndDateView .bigBlankLine:last-child{
    padding-top: 10px;
    padding-left: 16px;
    border-bottom: none;
}

.relatedRepairsView .notSolved, .houseSaleAndRentView .notSolved, .visitorPassportView .notSolved, .complaintView .notSolved{
    position: absolute;
    right: 5px;
    bottom: 12px;
    color: #777;
}

.newAskForRepairView .textAreaStyle, .newAskForSaleOrRentView .textAreaStyle{
    padding: 15px;
}
.newAskForRepairView .bigBlankLine, .newAskForSaleOrRentView .bigBlankLine{
    padding: 10px 15px;
}
.newAskForRepairView .addNews_div, .newAskForSaleOrRentView .addNews_div, .newAskForRepairView {
   margin-top:0px;
}

.newAskForRepairView .submitBtn, .newAskForSaleOrRentView .submitBtn{
    margin-top: 0%;
    padding-top: 5%;
}

.repairDetailsView .taskID,.repairDetailsView .taskAcceptOrNot,.houseSaleAndRentDetailsView .taskID,.houseSaleAndRentDetailsView .taskAcceptOrNot,.complaintDetailsView .taskID,.complaintDetailsView .taskAcceptOrNot{
    padding: 15px;
}
.repairDetailsView .taskID span:last-child, .houseSaleAndRentDetailsView .taskID span:last-child,.complaintDetailsView .taskID span:last-child{
    float: right;
    margin-right:0px;
    color: #777;
}
.repairDetailsView .acceptOrNotBtn, .houseSaleAndRentDetailsView .acceptOrNotBtn,.complaintDetailsView .acceptOrNotBtn{
    padding: 5px 10px;
    background-color: #777;
    color: #FFFFFF;
    border-radius: 7px;
    border: none;
}
.repairDetailsView .acceptDoneBtn, .houseSaleAndRentDetailsView .acceptDoneBtn,.complaintDetailsView .acceptDoneBtn{
    padding: 5px 10px;
    background-color: #00C600;
    color: #FFFFFF;
    border-radius: 7px;
    border: none;
}
.repairDetailsView .taskAcceptTime, .houseSaleAndRentDetailsView .taskAcceptTime,.complaintDetailsView .taskAcceptTime{
    float:right;
    margin-top: 7px;
    color: #777;
}
.repairDetailsView .repairContent, .houseSaleAndRentDetailsView .repairContent,.complaintDetailsView .repairContent{
    margin-top: 15px;
    margin-bottom: 10px;
}
.repairDetailsView .repairAddress, .houseSaleAndRentDetailsView .repairAddress,.complaintDetailsView .repairAddress{
    color: #777;
}
.fiftyPxHeightBlank{
    background: #EFEFF4;
    height: 20px;
    border-top: 1px solid #C8C7CC;
    border-bottom: 1px solid #C8C7CC;
}
.repairDetailsView .onePieceDetail, .houseSaleAndRentDetailsView .onePieceDetail,.complaintDetailsView .onePieceDetail{
    height: 70px;
}
.repairDetailsView .headPortrait, .houseSaleAndRentDetailsView .headPortrait,.complaintDetailsView .headPortrait{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left:15px;
    margin-top: 10px;
}
.repairDetailsView .headPortrait.personIcon, .houseSaleAndRentDetailsView .headPortrait.personIcon,.complaintDetailsView .headPortrait.personIcon{
    background: #DDDBCE;
}
.repairDetailsView .progressStatus, .houseSaleAndRentDetailsView .progressStatus,.complaintDetailsView .progressStatus{
    float: right;
    height: 70px;
    border-top: 1px solid #C8C7CC;
}
.repairDetailsView .progressStatus>div:first-child, .houseSaleAndRentDetailsView .progressStatus>div:first-child,.complaintDetailsView .progressStatus>div:first-child{
    margin-top: 10px;
}
.repairDetailsView .progressStatus>div:last-child, .houseSaleAndRentDetailsView .progressStatus>div:last-child,.complaintDetailsView .progressStatus>div:last-child{
    margin-top: 10px;
    color:#777;
}

.repairDetailsView .fiftyPxHeightBlank:first-child, .houseSaleAndRentDetailsView .fiftyPxHeightBlank:first-child,.complaintDetailsView .fiftyPxHeightBlank:first-child{
    border-top: none;
}

.repairDetailsFooter{
    height: 60px;
    padding: 0px;
}

.repairDetailsFooter div{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}
.repairDetailsFooter>div:first-child{
    background-color: #00C600;
    width: 50%;
    float: left;
}
.repairDetailsFooter>div:last-child{
    background-color: red;
    width: 50%;
    float: right;
}

.goodPart{
    height: 40px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border-top: solid 1px #c8c7cc;
    padding-top: 12px;
    padding: 12px 15px;
}

.goodPart .goodNum{
    font-size: 16px;
    line-height: 16px;
    color: #FD9090;
}

.community_detail_good_who{
    top: -40px;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.community_detail_good_time{
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 16px;
    right: 5%;
    color: #B6B6B6;
}

.commentTextDesc{
    width: 100%;
    padding-left: 50px;
    float: left;
}

.commentTextDesc .message_icon{
    margin-left: -50px;
}

.commentTextDesc .message_people{
    left: 0px;
}

.community_detail_good_time+div{
    margin-top: -20px;
}

.showPhoneNumPopup .popup-buttons .button{
    flex: 0;
}

.showPhoneNumPopup .popup-buttons .button-default{
    min-width: 80px;
    border: none;
    background-color: #F5F5F5;
    left: -10px;
    margin-bottom: 10px;
}

.showPhoneNumPopup .popup-buttons .button-positive {
    min-width: 150px;
    background-color: #F23030;
    margin-bottom: 10px;
    right: 14px;
}
.showPhoneNumPopup .popup-buttons .button-positive a{
    color: #ffffff;
}

.newVisitorInviteView .lowerText{
    margin-top: 10px;
    padding-left: 15px;
}
.newVisitorInviteView .inputVisitorName{
    position: absolute;
    top: 5px;
}
.newVisitorInviteView .inputVisitorName>input{
    font-size: 17px;
}
.generateQRCodeView{
    padding: 8%;
    padding-bottom: 0px;
}
.generateQRCodeView .qrClass{
    background: #FFFFFF;
}
.textUnderQR{
    margin-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    border-bottom: 1px solid #C8C7CC;
    color:#777;
}
.generateQRCodeView .visitorInfo p{
    margin-top: 9%;
    font-size: 14px;
}
.generateQRCodeView .visitorInfo p>span:last-child{
    float: right;
}
/*===AboutMeCtrl===*/
ion-view[view-title='AboutMe']{
    background:url("../img/about.png")no-repeat;
    background-size:100%;
    background-color: #EFEFF4;
}
#AboutView .item{
    margin: -3px;
}

#AboutView .icon-right, #personalInfo .icon-right{
    font-size: 20px;
    color: #C8C7CC;
}

#AboutView .aboutText, #personalInfo .aboutText{
    color: #6B6A6D;
}

#AboutView .aboutImgW{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 182px;

}
#AboutView .aboutImgL{
    position: relative;
    z-index: 100;
}

#AboutView .aboutBag .aboutPhoImg{
    height: 142px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 0 auto;
    display: block;
}

#AboutView .aboutNameText{
    width: 100%;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
    font-size: 18px;
    display: block;
}
/*===personalInfoCtrl===*/
ion-view[view-title='个人信息']{
    background:url("../img/perInfo.png")no-repeat;
    background-size:100%;
    background-color: #EFEFF4;
}

#personalInfo .perImgW{
    position: relative;
    padding: 1%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#personalInfo .perPhoImg{
    height: 80px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

#personalInfo .perNameText{
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 90px;
    top: 50%;
    font-size: 16px;
    color: #fff;
}

#personalInfo .text-right{
    position: absolute;
    right: 40px;
    color: #FC5E5E;
}

/*===editNicknameCtrl===*/
ion-view[view-title='修改昵称']{
    background-color: #EFEFF4;
}

#editNickname .save{
    padding-top: 8px;
    /* top: 0px; */
    padding-right: 2px;
    color: #FC5E5E;
}

#editNickname .nickContent{
    padding: 10px;
}

#editNickname .header_top{
    width: 100%;
    position: relative;

}

#editNickname .header_bar{
    width: 100%;
    border-radius: 2px;
    padding: 0px 5px;
    background: #fff;
    display: flex;
    border: 1px solid #FC5E5E;
    height: 50px;

}

#editNickname .header_bar span{
    line-height: 26px;
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    display: block;
}

#editNickname .header_bar input{
    width: 70%;
    background: inherit;
    height: 46px;
    line-height: 26px;
    font-size: 18px;

}

#editNickname .header_bar i{
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 18px;
    color: #C8C7CC;
}

/*===shoppingCarCtrl===*/
ion-view[view-title='购物车']{
    background-color: #EFEFF4;
}

#shoppingCar .item{
    margin: 10px 0px;
    border-style: solid none;
    padding: 10px;
}

#shoppingCar .item-content{
    padding: 0px;
    position: initial;
}

#shoppingCar .shoppingItem{
    width:100%;
    min-width:320px;
    position:relative;
    padding-left: 28px;

}

.shoppingImg{
    border: 2px solid #ddd;
    left: 36px;
    width: 106px;
    float: left;
}

.shopChangeImg{
    width:100px;
}

.shopText{
    position: absolute;
    left: 140px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.shopTextP p{
    font-size: 13px;
    overflow: inherit;
    text-overflow: clip;
    white-space: initial;
    color: #000;
}
.shopTextSpan{
    padding-top: 10px;
    color: #999;
}

.shopTextSpan span{
    font-size: 12px;
}

.shopTextPrice{
    padding-top: 20px;
    font-size: 16px;
    color: #FC5E5E;
}

.shopAmount input{
    border: 1px solid #999;
    color: #999;
    position: absolute;
    bottom: 10px;
    right: 43px;
    width: 30px;
    height: 20px;
    text-align: center;
}
#shoppingCar .iconRight{
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 20px;
    color: #999;
    border: 1px solid #999;
    height: 20px;
    width: 24px;
    border-radius: 0px 3px 3px 0px;
}

#shoppingCar .iconLeft{
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 72px;
    color: #999;
    border: 1px solid #999;
    height: 20px;
    width: 24px;
    border-radius: 3px 0px 0px 3px;
}

#shoppingCar  .checkbox input, #shoppingCar  .checkbox-icon{
    width: 24px;
    height: 24px;
}

#shoppingCar .checkbox input:checked:before, #shoppingCar .checkbox input:checked + .checkbox-icon:before {
    background: #FC5E5E;
    border-color: #FC5E5E;
}

#shoppingCar .item-checkbox .checkbox {
    width: 100px;
    right: 2px;
    left: 0px;
}

.button-delete{
    background-color: #FC5E5E;
    color: #fff;
}

.buttonSub{
    position: absolute;
    right: 0;
    width: 30%;
    top: 0px;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
    border-color: #FF0000;
    background-color: #FF0000;
    color: #fff;
}

#shoppingCar .badge{
    color: #fff;
    padding: 3px 0px;
}

.checkAll{
    position: absolute;
    top: 34%;
    font-size: 16px;
    /* border-width: inherit; */
    font-weight: bolder;
    left: 42px;
}
.total{
    position: absolute;
    top: 40%;
    right: 32%;
    font-size: 14px;
}

.totalPrice {
    color: #FC5E5E;
}

.notfound{
    position: relative;
    width: 100%;
    display: none;
}
.notfound .not_content {
    border-top: 1px solid #fff;
}
.not_content {
    text-align: center;
    position: absolute;
    width: 100%;
}
.not_content p {
    padding: 80px 0 0;
}
.not_content p span {
    font-size: 30px;
}
/*===paymentOrderCtrl===*/
ion-view[view-title='待付款订单'], ion-view[view-title='我的订单'], ion-view[view-title='确认订单']{
    background-color: #EFEFF4;
}

#paymentOrder .item, #myOrder .item{
    padding: 10px;
    border-color: #fff;
    background-color: #F9F9F9;;
    margin: 0px 0px 1px;
}

.payContent{
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #C8C7CC;
}

.payTop{
    height: 40px;
}

.payBox{
    color: #C8C7CC;
    font-size: 34px;
    padding-left: 10px;
    position: absolute;
    top: 4px;
}

.payText{
    position: absolute;
    left: 39px;
    top: 16px;
}

.payRight{
    color: #C8C7CC;
    position: absolute;
    top: 16px;
    left: 146px;
}

.payTextRight{
    position: absolute;
    top: 16px;
    right: 10px;
    color: #FC5E5E;
    font-size: 14px;
}

#paymentOrder .shoppingItem, #myOrder .shoppingItem{
    width:100%;
    min-width:320px;
}

#paymentOrder .shoppingImg, #myOrder .shoppingImg{
    border: 2px solid #ddd;
    left: 36px;
    width: 86px;
    float: left;
}

#paymentOrder .shopChangeImg, #myOrder .shopChangeImg{
    width:80px;
}

#paymentOrder .shopText, #myOrder .shopText{
    position: absolute;
    left: 110px;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#paymentOrder .shopTextSpan, #myOrder .shopTextSpan{
    padding-top: 10px;
    color: #444;
}

.listBottom{
    height: 40px;
}

.listBottomSpan{
    position: absolute;
    right: 20px;
    font-size: 14px;
}

.listBottomSpan span{
    line-height: 40px;
}

.payBottom{
    height: 40px;
    border-style: solid none;
    border-width: 1px;
    border-color: #C8C7CC;
}

#paymentOrder .button ,#myOrder .button{
    min-height: 24px;
    line-height: 24px;
    border-color: #C8C7CC;
    font-size: 14px;
    background-color: #fff;
    padding: 0px 4px;
    position: absolute;
}

#paymentOrder .buttonLeft{
    right: 78px;
    bottom: 7px;
}

#paymentOrder .buttonRight, #myOrder .buttonRight{
    right: 14px;
    bottom: 7px;
    color: #FC5E5E;
    border-color: #F1A8A8;
}

#myOrder .buttonLeft{
    right: 90px;
    bottom: 7px;
}

.payTrash {
    color: #C8C7CC;
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 26px;
}
.noBorderTop{
    border-top: none;
}

.add_comment_icon{
    height: 30px;
    font-size: 25px;
    top: 3px;
    color: #FF5c5a;
    left: 91%;
    position: absolute;
    z-index: 9;
}

.addCommunity_content{
    margin-top: 20px;
    height: 150px;
    width: 100%;
}

.addCommunity_content+p{
   margin-top: 10px;
   margin-left: 2%;
   font-size: 15px;
    color: #777777;
}

.addNews_div{
    margin-top: 10px;
    padding: 5%;
    width: 100%;
    background-color: #ffffff;
    height: 150px;
}

.addNews_box{
    height: 100%;
    border: solid 3px #DBD9CB;
    width: 35%;
}

.addNews_box span{
    font-size: 60px;
    color:#DBD9CB;
    padding: 3%;
}

.submitNews_button{
    height: 50px;
    width: 90%;
    margin: 10% 5%;
    border: none;
    background-color: #f23030;
    color: #FFFFFF;
    font-size: 20px;
}

.img_part_style{
    border: 1px dashed gray;
    height: 100%;
    width: 35%;
    background-color: #f0f0f0;
}

/*===commentCtrl===*/
ion-view[view-title='发表评价']{
    background-color: #EFEFF4;
}

#comment .item{
    margin: 10px 0px;
}

.comment_up{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #ddd;
}

.commentImg{
    left: 30px;
    width: 86px;
    float: left;
}

.commentChangeImg{
    width:80px;
}
.comment_text{
    width: 70%;
    height: 80px;
    resize : none;
    overflow:hidden;
    padding-top: 6px;
}
.comment_down{
    padding-top: 10px;
    color: #000;
}

.comment_span{
    float: left;
    padding-top: 4px;
}

.comment_star{
    position: absolute;
    right: 20px;
    font-size: 22px;
    color: #FC5E5E;
}

/*.comment_check{*/
    /*width: 60px;*/
/*}*/

#comment .checkbox input:before, #comment .checkbox-icon:before{
    border-radius: 2px;
}

#comment .checkbox input:after, #comment .checkbox-icon:after{
    top: 24%;
    width: 9px;
    height: 6px;
}
#comment .checkbox input, #comment .checkbox-icon{
    width: 18px;
    height: 18px;
}

#comment  .checkbox input:checked:before, #comment .checkbox input:checked + .checkbox-icon:before {
    background: #ff9666;
    border-color: #ff9666;
}

.unrated{
    color: #000;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #FC5E5E;
}

.comment_footer_span{
    position: absolute;
    top: 34%;
    font-size: 14px;
    left: 34px;
}

/*===allOrderCtrl===*/
#allOrder .item{
    margin: 0px;
    border-width: 2px;
    border-style: none none solid;
}
.allContent{
    background-color: #ffffff;
}

.allContent .payTop{
    height: 60px;
}

.orderText{
    position: absolute;
    left: 28px;
    top: 16px;
}

.orderTextN{
    left: 74px;
}

.orderLoc{
    color: #C8C7CC;
    position: absolute;
    top: 38px;
    left: 12px;
    font-size: 16px;
}

.orderTextP{
    position: absolute;
    left: 26px;
    top: 40px;
    font-size: 14px;
}

.orderLine{
    width: 100%;
}

.orderLine img{
    width: 100%;
}

.shoppingImgO {
    left: 36px;
    width: 106px;
    float: left;
}

.listBottomSpanL{
    position: absolute;
    left: 20px;
    font-size: 16px;
}

.listBottomSpanL span {
    line-height: 40px;
}

.listBottomSpanR{
    position: absolute;
    right: 10px;
    font-size: 16px;
}

.listBottomSpanR span {
    line-height: 40px;
    padding-right: 4px;
}

#allOrder .bar button, #shoppingCar .bar button{
    font-size: 16px;
}